//COLORS
$primary: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;

$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;


$dark-grey: #777;
$light-grey: #f7f7f7;
$lighter-grey: #eee;
$white: #fff;
$black: #000;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;