$primary: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;
$dark-grey: #777;

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  color: $dark-grey;
}

.header{
  background-image: linear-gradient(
    rgba($primary-light, 0.8),
    rgba($primary-dark, 0.8));
}