.footer{
    background-color: $darker-grey;
    padding: 10rem;
    font-size: 1.4rem;

    &__logo-box{
        text-align: center;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navigation, &__copyright{
        border-top: 1px solid $lighter-grey;
        padding-top: 2rem;
        display: inline-block;
    }

    &__copyright{
        width: 83%;
        float: right;
    }

    &__list{
        list-style: none;
    }

    &__item{
        font-size: 1.4rem;
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: $light-grey;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-color: $darker-grey;
        }

        &:hover,
        &:active{
            color: $primary;
            box-shadow: 0 1rem 2rem rgba($black, .4);
            transform: scale(1.2) translateY(-.4rem);
        }
    }
}