.header{
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($primary-light, 0.8),
    rgba($primary-dark, 0.8)), 
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
  &__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__top-logo{
    margin: 4rem;
    height: 3.5rem;
  }

  &__text-box{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center;
  }
}