.btn{
  &:link, &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
  }
  
  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($black, .2);
  }
  
  &:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($black, .2);
  }
  
  &--white{
    background-color: $white;
    color: $dark-grey;
  }

  &--green{
    background-color: $primary;
    color: $white;
  }
}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    color: $primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primary;
    padding: 3px;
    transition: all .3s;
  }

  &:hover{
    background-color: $primary;
    color: $white;
    box-shadow: 0 .5rem 1rem rgba($black, .2);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($black, .2);
    transform: translateY(0);
  }
}