.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .3s;
        outline-offset: 2rem;

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.3333%;
            box-shadow: 0 1.5rem 3rem rgba($black, .2);
        }

        &--p1{
            left: 0;
            top: 0;

            @include respond(tab-port){
                top: 0;
                transform: scale(1.2);
            }
        }
        &--p2{
            right: 0;
            top: 4rem;

            @include respond(tab-port){
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }
        }
        &--p3{
            left: 20%;
            top: 14rem;

            @include respond(tab-port){
                top: 2rem;
                left: 0;
                transform: scale(1.1);
            }
        }

        &:hover{
            outline: 1.5rem solid $primary;
            z-index: 1;
            padding: -2rem;
        }

        &:hover + &:not(:hover){
            transform: scale(0.9);
        }
    }
}