.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .3s;
        outline-offset: 2rem;

        &--p1{
            left: 0;
            top: 0;
        }
        &--p2{
            right: 0;
            top: 4rem;
        }
        &--p3{
            left: 20%;
            top: 14rem;
        }

        &:hover{
            outline: 1.5rem solid $primary;
            z-index: 1;
            padding: -2rem;
        }

        &:hover + &:not(:hover){
            transform: scale(0.9);
        }
    }
}