.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }

    &__input{
        font-size: 1.5rem;
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        display: block;
        border-radius: 2px;
        background-color: rgba($white, .5);
        border: none;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($black, .1);
            border-bottom: 3px solid $primary;

            &:invalid{
                border-bottom: 3px solid $secondary-dark;
            }
        }

        &::-webkit-input-placeholder{
            color: $dark-grey-2;
        }
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin: .7rem 2rem;
        transform: translateY(-7rem);
        opacity: 0;
        transition: all .3s;
    }

    &__input:not(:placeholder-shown) + &__label{
        transform: translateY(-8rem);
        opacity: 1;
    }

    &__radio--group{
        float: left;
        
        &:not(:last-child){
            margin-right: 8rem;
        }

        @include respond(tab-port){
            float: unset;
        }
    }

    &__radio--input{
        visibility: hidden;
    }

    &__radio--label{
        font-size: $default-font-size;
        cursor: pointer;
        display: flex;
        align-items: center;
        transform: translateY(-2.5rem);
    }

    &__radio--button{
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border: .5rem solid $primary;
        border-radius: 50%;
        margin-right: 1rem;
        position: relative;

        @include respond(tab-port){
            display: block;
        }

        &::after{
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            @include absoluteCentered;
            background-color: $primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio--input:checked ~ &__radio--label &__radio--button::after{
        opacity: 1;
    }
}