.popup{
    top:0;
    left:0;
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100vh;
    background-color: rgba($black, .8);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
        @include absoluteCentered;
        background-color: $white;
        width: 75%;
        border-radius: 5px;
        box-shadow: 0 2rem 4rem rgba($black, .2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .5s .2s;
    }

    &__left{
        width: calc(100%/3);
        display: table-cell;
        vertical-align: middle;
    }

    &__right{
        width: calc(100% - calc(100%/3));
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img{
        width: 100%;
        display: block;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $lighter-grey;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $lighter-grey;

        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }

    &__close{
        &:link,
        &:visited{
            color: $dark-grey;
            text-decoration: none;
            position: absolute;
            font-size: 4rem;
            top: 3rem;
            right: 3rem;
            transition: all .3s;
            line-height: 1;
        }

        &:hover,
        &:active{
            color: $primary;
            transform: scale(1.1) translateY(-3px);
        }
    }
}