.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($black, .1);
    background-color: rgba($white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        backface-visibility: hidden;
    }

    &__photo{
        height: 100%;
        width: auto;
        transition: all .5s;
        transform: translateX(-3.5rem) scale(1.4);
        backface-visibility: hidden;
    }

    &__text{
        transform: skewX(12deg);
    }

    &__caption{
        @include absoluteCentered;
        color: $white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    &:hover &__photo{
        transform: translateX(-3.5rem) scale(1);
        filter: blur(2px) brightness(.8);
        -webkit-filter: blur(2px) brightness(.8);
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50% ,-50%);
    }
}