.section-about{
    background-color: $light-grey;
    padding: 5rem 0 15rem 0;

    @include respond(tab-port){
        padding: 5rem 0 15rem 0;
    }
}

.section-features{
    background-color: $light-grey;
    background-image: 
        linear-gradient(to right bottom,
            rgba($primary-light, .8),
            rgba($primary-dark, .8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    padding: 15rem 3rem;
    //clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    transform: skewY(-6deg);

    & > *{
        transform: skewY(6deg);
    }

    @include respond(tab-port){
        
    }
}

.section-tours{
    background-color: $light-grey;
    padding: 10rem 0;
    @include respond(tab-port){
        
    }
}

.section-stories{
    padding: 10rem 0;
    position: relative;

    @include respond(tab-port){
        
    }
}

.section-booking{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);

    &__booking{
        background-image: linear-gradient(105deg, 
                rgba($white, .9) 0%,
                rgba($white, .9) 50%,
                transparent 50%), 
            url(../img/nat-10.jpg);
        background-size: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black, .15);

        @include respond(tab-land){
            background-image: linear-gradient(105deg, 
                rgba($white, .9) 0%,
                rgba($white, .9) 65%,
                transparent 65%), 
            url(../img/nat-10.jpg);
            background-size: cover;
        }

        @include respond(tab-port){
            background-image: linear-gradient(to right, 
                rgba($white, .9) 0%,
                rgba($white, .9) 100%), 
            url(../img/nat-10.jpg);
            background-size: cover;
        }

        &--form{
            width: 50%;
            padding: 6rem;

            @include respond(tab-land){
                width: 65%;
            }

            @include respond(tab-port){
                width: 100%;
            }

            @include respond(tab-port){
                padding: 3rem;
            }

        }
    }
}
