.section-about{
    background-color: $light-grey;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    background-color: $light-grey;
    background-image: 
        linear-gradient(to right bottom,
            rgba($primary-light, .8),
            rgba($primary-dark, .8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -10vh;
    padding: 20rem 0;
    //clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    transform: skewY(-5deg);

    & > *{
        transform: skewY(5deg);
    }
}

.section-tours{
    background-color: $light-grey;
    padding: 15rem 0;
    margin-top: -8vh;
}

.section-stories{
    padding: 15rem 0;
    position: relative;
}

.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);

    &__booking{
        background-image: linear-gradient(105deg, 
                rgba($white, .9) 0%,
                rgba($white, .9) 50%,
                transparent 50%), 
            url(../img/nat-10.jpg);
        background-size: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($black, .15);

        height: 50rem;

        &--form{
            width: 50%;
            padding: 6rem;
        }
    }
}
