.section-about{
    background-color: $light-grey;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    background-color: $light-grey;
    background-image: 
        linear-gradient(to right bottom,
            rgba($primary-light, .8),
            rgba($primary-dark, .8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -10vh;
    padding: 20rem 0;
    //clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    transform: skewY(-6deg);

    & > *{
        transform: skewY(6deg);
    }
}

.section-tours{
    background-color: $light-grey;
    padding: 20rem 0;
    margin-top: -8vh;
}